/.env
/vendor/
/writable/cache/*
/writable/debugbar/*
/writable/logs/*
/writable/session/*
/writable/uploads/*
!/writable/cache/index.html
!/writable/debugbar/index.html
!/writable/logs/index.html
!/writable/session/index.html
!/writable/uploads/index.html

.env
/vendor/
*.zip
